body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*@media (max-width: 767px) {*/
/*  .keyboard-wrapper {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: env(safe-area-inset-bottom);*/
/*    z-index: 1000;*/
/*    padding-bottom: env(safe-area-inset-bottom);*/
/*  }*/

/*  .game-container {*/
/*    padding-bottom: calc(50px + env(safe-area-inset-bottom));*/
/*  }*/
/*}*/
